<html lang="en">
<head>
  <title>Contact Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="row">
        <div class="col-lg-6 col-md-offset-3 jumbotron">
            <p><a href="{% url 'home' %}" class="btn btn-info" role="button">HOME</a></p>

                <center><strong><h1><p>Contact Form</p></h1></strong></center>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-info" value="Submit">
    </form>
  </div>
</div>
</div>
</body>
</html>