
<html>
        <head>
            <title>Team Information</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <style>
                body {
                  background: #555;
                }
                
                .content {
                  max-width: 500px;
                  margin: auto;
                  background: white;
                  padding: 50px;
                }
                </style>
        </head>
        <body>
        <div class="content">
            <p><a href="{% url 'home' %}" class="btn btn-info" role="button">HOME</a></p>
            <center><p><h1><strong>Team Information</strong></h1></p></center>
            <p><strong>Club Id:</strong>{{ team_info.club_id }}</p>
            <p><strong>Player Id:</strong>{{ team_info.player_id }}</p>
            <p><strong>Team Formation Date:</strong>{{ team_info.team_formation_date }}</p>
            <p><strong>Event Id:</strong>{{ team_info.event_id }}</p>
            <p><strong>Team Leader Id:</strong>{{ team_info.team_leader_id }}</p>
            <p><strong>Team Ledar Name:</strong>{{ team_info.team_ledar_name }}</p>
            <p><strong>Coach Id:</strong>{{ team_info.coach_id }}</p>
            <p><strong>Coach Name:</strong>{{ team_info.coach_name }}</p>
            <p><strong>Player Id:</strong>{{ team_info.playr_id }}</p>
            <p><strong>Player Name:</strong>{{ team_info.player_name }}</p>
         
            
        </div>
        </body>
        </html>